.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

.photo-card {
  position: relative;
  flex: 0 0 calc(25% - 20px);
  margin: 20px;
  overflow: hidden;
}

.photo-card-img {
  width: 340px;
  height: 250px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.photo-card:hover .photo-card-img {
  transform: scale(1.1);
}

.photo-card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.photo-card:hover .photo-card-overlay {
  opacity: 1;
}

/* Стили для формы поиска */

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background-color: black;
  height: 50px;
}
.button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 25px;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.input {
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 5px;
}
.load-more {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 25px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  text-align: center;
}
.load-more:hover {
  background-color: #45a049;
}
